@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html {
    text-align: center;
  	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); /* Inspired by Udacity Homepage */
  	color:white;
  	font-family: 'Montserrat', sans-serif;
  	height:100%;
  	width:100%;
}


h1 {
	font-size: 2em
}


.cat-image {
	cursor:pointer;
	border-radius: 100%;
	width:300px;
	margin:0 30px;
}